*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
scroll-behavior:smooth;
}

/* overall background */

body{

background:#020617;
color:white;

}

/* navbar */

nav{

display:flex;
justify-content:space-between;
padding:22px 8%;

position:fixed;
width:100%;

background:#020617;

border-bottom:1px solid rgba(255,255,255,0.05);

z-index:1000;

}

.logo{

font-size:20px;

background:linear-gradient(90deg,#38bdf8,#818cf8);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}


nav ul{

display:flex;
gap:28px;

list-style:none;

}

nav a{

text-decoration:none;
font-size:14px;

color:#cbd5f5;

padding:6px 12px;

border-radius:6px;

transition:.3s;

}

nav a:hover{

background:#6366f1;

color:white;

}


/* hero section */

.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

gap:80px;

padding:0 10%;

background:linear-gradient(135deg,#020617,#0f172a);

}

/* profile photo */

.hero-img img{

width:320px;
height:320px;

object-fit:cover;

border-radius:18px;

border:3px solid #6366f1;

box-shadow:0 0 30px rgba(99,102,241,0.3);

}


/* about */

#about{

background:linear-gradient(135deg,#020617,#1e293b);

}

/* skills */

#skills{

background:linear-gradient(135deg,#020617,#0f172a);

}

/* education */

#education{

background:linear-gradient(135deg,#020617,#1e1b4b);

}

/* experience */

#experience{

background:linear-gradient(135deg,#020617,#052e16);

}

/* certifications */

#certifications{

background:linear-gradient(135deg,#020617,#3b0764);

}

/* contact */

#contact{

background:linear-gradient(135deg,#020617,#172554);

}

/* common section style */

section{

padding:110px 10%;

text-align:center;

}

/* cards */

.card{

background:rgba(255,255,255,0.05);

padding:30px;

border-radius:15px;

backdrop-filter:blur(8px);

margin-top:30px;

transition:.3s;

}

.card:hover{

transform:translateY(-6px);

background:rgba(255,255,255,0.08);

}

/* grid */

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:30px;

}

/* headings */

h2{

margin-bottom:20px;

font-size:28px;

}

/* social icons */

.social img{

width:38px;

margin-right:15px;

transition:.3s;

}

.social img:hover{

transform:scale(1.1);

}

/* button */

.btn{

display:inline-block;

margin-top:20px;

padding:12px 28px;

background:#6366f1;

color:white;

text-decoration:none;

border-radius:30px;

transition:.3s;

}

.btn:hover{

background:#4f46e5;

}


/* footer */

footer{

background:#020617;

padding:30px;

color:#94a3b8;

}
