*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}


body{

background:#0b0b0b;
color:white;

}


nav{

display:flex;
justify-content:space-between;
padding:25px 8%;

position:fixed;
width:100%;

background:rgba(0,0,0,0.7);

backdrop-filter:blur(10px);

}


nav ul{

display:flex;
gap:30px;

list-style:none;

}


nav a{

color:white;
text-decoration:none;

font-size:14px;

opacity:.8;

transition:.3s;

}


nav a:hover{

opacity:1;

}


.hero{

height:100vh;

display:flex;
align-items:center;
justify-content:center;

gap:80px;

padding:0 10%;

}


.hero-text h1{

font-size:55px;

}


.hero-text h2{

font-weight:400;

margin:10px 0;

opacity:.7;

}


.hero-text p{

max-width:400px;

opacity:.6;

margin:15px 0;

}


.hero-img img{

width:260px;

border-radius:50%;

border:2px solid #222;

}


.social a{

color:white;

margin-right:15px;

font-size:22px;

opacity:.7;

transition:.3s;

}


.social a:hover{

opacity:1;

transform:translateY(-3px);

}


.btn{

display:inline-block;

margin-top:20px;

padding:12px 28px;

background:white;

color:black;

text-decoration:none;

border-radius:30px;

font-size:14px;

transition:.3s;

}


.btn:hover{

transform:translateY(-3px);

}



section{

padding:120px 10%;

text-align:center;

}


.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:40px;

}


.card{

background:#111;

padding:30px;

border-radius:15px;

transition:.3s;

}


.card:hover{

transform:translateY(-5px);

background:#151515;

}


footer{

text-align:center;

padding:40px;

opacity:.6;

}